[Desktop Entry]
Encoding=UTF-8
Name=Link to Ajaxian » Adobe Releases Web Fonts
Type=Link
URL=http://ajaxian.com/archives/adobe-releases-web-fonts
Icon=gnome-fs-bookmark
