[Desktop Entry]
Encoding=UTF-8
Name=Link to Ajaxian » An Implausibly Illustrated Introduction to HTML5 Web Workers
Type=Link
URL=http://ajaxian.com/archives/an-implausibly-illustrated-introduction-to-html5-web-workers
Icon=gnome-fs-bookmark
