[Desktop Entry]
Encoding=UTF-8
Name=Link to Ajaxian » TinySrc: Free Easy Way to Reformat Graphics for Mobile Devices
Type=Link
URL=http://ajaxian.com/archives/tinysrc-free-easy-way-to-reformat-graphics-for-mobile-devices
Icon=gnome-fs-bookmark
