[Desktop Entry]
Encoding=UTF-8
Name=Link to Ajaxian » Raphaël 1.5 Released
Type=Link
URL=http://ajaxian.com/archives/raphael-1-5-released
Icon=gnome-fs-bookmark
