[Desktop Entry]
Encoding=UTF-8
Name=Link to Ajaxian » New SVG Web Release: Owlephant
Type=Link
URL=http://ajaxian.com/archives/10195
Icon=gnome-fs-bookmark
