[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Arbitrary code execution vulnerabilities
Type=Link
URL=http://www.ruby-lang.org/en/news/2008/06/20/arbitrary-code-execution-vulnerabilities/
Icon=gnome-fs-bookmark
Name[en_US]=Arbitrary code execution vulnerabilities
