[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Link to Database (MySQL)
Type=Link
URL=http://www.rorsecurity.info/category/database-mysql/
Icon=gnome-fs-bookmark
