[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Link to Help me Roberto, my web server just got hacked! - Someone Else
Type=Link
URL=http://rhymeswithgeek.com/blogs/someone_else/archive/2007/10/04/help-me-roberto-my-web-server-just-got-hacked.aspx
Icon=gnome-fs-bookmark
