[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Link to jovino.com ][ html character entities
Type=Link
URL=http://www.jovino.com/entitiesLookup.php
Icon=gnome-fs-bookmark
