[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Link to random thoughts - Teaching Your Tests To Report Unused Parameters
Type=Link
URL=http://pivots.pivotallabs.com/users/kelly/blog/articles/384-teaching-your-tests-to-report-unused-parameters
Icon=gnome-fs-bookmark
