[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Link to Ruby on Rails Security Cheatsheet
Type=Link
URL=http://www.rorsecurity.info/ruby-on-rails-security-cheatsheet/
Icon=gnome-fs-bookmark
