[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Link to Top 10 2007 - OWASP
Type=Link
URL=http://www.owasp.org/index.php/Top_10_2007#Summary
Icon=gnome-fs-bookmark
