[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Link to Top 10 Secure Coding Practices - CERT Secure Coding Standards
Type=Link
URL=https://www.securecoding.cert.org/confluence/display/seccode/Top+10+Secure+Coding+Practices
Icon=gnome-fs-bookmark
