[Desktop Entry]
Encoding=UTF-8
Name=Link to erikhansson's livedate at master - GitHub
Type=Link
URL=http://github.com/erikhansson/livedate/
Icon=gnome-fs-bookmark
