[Desktop Entry]
Encoding=UTF-8
Name=Link to baldowl's rack_csrf at master - GitHub
Type=Link
URL=http://github.com/baldowl/rack_csrf/
Icon=gnome-fs-bookmark
