[Desktop Entry]
Encoding=UTF-8
Name=Link to benschwarz's smoke-rack at master - GitHub
Type=Link
URL=http://github.com/benschwarz/smoke-rack/
Icon=gnome-fs-bookmark
