[Desktop Entry]
Encoding=UTF-8
Name=Link to bougyman's rack_fast_escape at master - GitHub
Type=Link
URL=http://github.com/bougyman/rack_fast_escape/
Icon=gnome-fs-bookmark
