[Desktop Entry]
Encoding=UTF-8
Name=Link to bpalmen's httpbl at master - GitHub
Type=Link
URL=http://github.com/bpalmen/httpbl
Icon=gnome-fs-bookmark
