[Desktop Entry]
Encoding=UTF-8
Name=Link to brainopia's assets at master - GitHub
Type=Link
URL=http://github.com/brainopia/assets/
Icon=gnome-fs-bookmark
