[Desktop Entry]
Encoding=UTF-8
Name=Link to brianc's riot-rack at master - GitHub
Type=Link
URL=http://github.com/brianc/riot-rack/
Icon=gnome-fs-bookmark
