[Desktop Entry]
Encoding=UTF-8
Name=Link to chrisk's fakeweb at master - GitHub
Type=Link
URL=http://github.com/chrisk/fakeweb
Icon=gnome-fs-bookmark
