[Desktop Entry]
Encoding=UTF-8
Name=Link to CodeOfficer's rack-options-request at master - GitHub
Type=Link
URL=http://github.com/CodeOfficer/rack-options-request/
Icon=gnome-fs-bookmark
