[Desktop Entry]
Encoding=UTF-8
Name=Link to copypastel's rack-spam at master - GitHub
Type=Link
URL=http://github.com/copypastel/rack-spam/
Icon=gnome-fs-bookmark
