[Desktop Entry]
Encoding=UTF-8
Name=Link to Datejs - An open-source JavaScript Date Library
Type=Link
URL=http://www.datejs.com/
Icon=gnome-fs-bookmark
