[Desktop Entry]
Encoding=UTF-8
Name=Link to ddollar's rack-environment at master - GitHub
Type=Link
URL=http://github.com/ddollar/rack-environment/
Icon=gnome-fs-bookmark
