[Desktop Entry]
Encoding=UTF-8
Name=Link to gist: 208076 - A Rack middleware app that enforces certain paths be requested over HTTPS.- GitHub
Type=Link
URL=http://gist.github.com/208076
Icon=gnome-fs-bookmark
