[Desktop Entry]
Encoding=UTF-8
Name=Link to halorgium's rack-client at master - GitHub
Type=Link
URL=http://github.com/halorgium/rack-client/
Icon=gnome-fs-bookmark
