[Desktop Entry]
Encoding=UTF-8
Name=Link to ichverstehe's chowder at master - GitHub
Type=Link
URL=http://github.com/ichverstehe/chowder/
Icon=gnome-fs-bookmark
