[Desktop Entry]
Encoding=UTF-8
Name=Link to infiniteloopeu's rack-detect-client at master - GitHub
Type=Link
URL=http://github.com/infiniteloopeu/rack-detect-client/
Icon=gnome-fs-bookmark
