[Desktop Entry]
Encoding=UTF-8
Name=Link to jcrosby's rack-config at master - GitHub
Type=Link
URL=http://github.com/jcrosby/rack-config/
Icon=gnome-fs-bookmark
