[Desktop Entry]
Encoding=UTF-8
Name=Link to josh's useragent at master - GitHub
Type=Link
URL=http://github.com/josh/useragent
Icon=gnome-fs-bookmark
