[Desktop Entry]
Encoding=UTF-8
Name=Link to joshbuddy's rack-tamperproof at master - GitHub
Type=Link
URL=http://github.com/joshbuddy/rack-tamperproof/
Icon=gnome-fs-bookmark
