[Desktop Entry]
Encoding=UTF-8
Name=Link to joshbuddy's rack-console at master - GitHub
Type=Link
URL=http://github.com/joshbuddy/rack-console/
Icon=gnome-fs-bookmark
