[Desktop Entry]
Encoding=UTF-8
Name=Link to kuccello's Spy-Vs-Spy at master - GitHub
Type=Link
URL=http://github.com/kuccello/Spy-Vs-Spy/
Icon=gnome-fs-bookmark
