[Desktop Entry]
Encoding=UTF-8
Name=Link to maxim's html_press at master - GitHub
Type=Link
URL=http://github.com/maxim/html_press
Icon=gnome-fs-bookmark
