[Desktop Entry]
Encoding=UTF-8
Name=Link to mdub's sham_rack at master - GitHub
Type=Link
URL=http://github.com/mdub/sham_rack/
Icon=gnome-fs-bookmark
