[Desktop Entry]
Encoding=UTF-8
Name=Link to metaskills's rack-zombieshotgun at master - GitHub
Type=Link
URL=http://github.com/metaskills/rack-zombieshotgun/
Icon=gnome-fs-bookmark
