[Desktop Entry]
Encoding=UTF-8
Name=Link to Sickill.net - Rack middleware using HTML Tidy
Type=Link
URL=http://sickill.net/blog/2009/05/10/rack-middleware-using-html-tidy.html
Icon=gnome-fs-bookmark
