[Desktop Entry]
Encoding=UTF-8
Name=Link to sickill's rainbow at master - GitHub
Type=Link
URL=http://github.com/sickill/rainbow
Icon=gnome-fs-bookmark
