[Desktop Entry]
Encoding=UTF-8
Name=Link to sunlightlabs's rack-honeypot at master - GitHub
Type=Link
URL=http://github.com/sunlightlabs/rack-honeypot/
Icon=gnome-fs-bookmark
