[Desktop Entry]
Encoding=UTF-8
Name=Link to talison's rack-mobile-detect at master - GitHub
Type=Link
URL=http://github.com/talison/rack-mobile-detect/
Icon=gnome-fs-bookmark
