[Desktop Entry]
Encoding=UTF-8
Name=Link to techiferous's rack-linkify at master - GitHub
Type=Link
URL=http://github.com/techiferous/rack-linkify/
Icon=gnome-fs-bookmark
