[Desktop Entry]
Encoding=UTF-8
Name=Link to test at master from metaskills's rack-zombieshotgun - GitHub
Type=Link
URL=http://github.com/metaskills/rack-zombieshotgun/tree/master/test/
Icon=gnome-fs-bookmark
