[Desktop Entry]
Encoding=UTF-8
Name=Link to toolmantim's teapot at master - GitHub
Type=Link
URL=http://github.com/toolmantim/teapot/
Icon=gnome-fs-bookmark
