[Desktop Entry]
Encoding=UTF-8
Name=Link to walf443's rack-auth-ip at master - GitHub
Type=Link
URL=http://github.com/walf443/rack-auth-ip/
Icon=gnome-fs-bookmark
