[Desktop Entry]
Encoding=UTF-8
Name=Link to wbzyl's rack-codehighlighter at master - GitHub
Type=Link
URL=http://github.com/wbzyl/rack-codehighlighter/
Icon=gnome-fs-bookmark
