[Desktop Entry]
Encoding=UTF-8
Name=Link to webficient's rack-coderay at master - GitHub
Type=Link
URL=http://github.com/webficient/rack-coderay/
Icon=gnome-fs-bookmark
