[Desktop Entry]
Encoding=UTF-8
Name=Link to wedgeguard.rb at master from adamwiggins's wedgeguard - GitHub
Type=Link
URL=http://github.com/adamwiggins/wedgeguard/blob/master/wedgeguard.rb
Icon=gnome-fs-bookmark
