[Desktop Entry]
Encoding=UTF-8
Name=Link to chneukirchen's rum at master - GitHub
Type=Link
URL=http://github.com/chneukirchen/rum/
Icon=gnome-fs-bookmark
