[Desktop Entry]
Encoding=UTF-8
Name=Link to joshbuddy's rack-rewrite at master - GitHub
Type=Link
URL=http://github.com/joshbuddy/rack-rewrite/
Icon=gnome-fs-bookmark
