[Desktop Entry]
Encoding=UTF-8
Name=Link to jtrupiano's rack-rewrite at master - GitHub
Type=Link
URL=http://github.com/jtrupiano/rack-rewrite/
Icon=gnome-fs-bookmark
