[Desktop Entry]
Encoding=UTF-8
Name=Link to take-yu's rack-ketai at master - GitHub
Type=Link
URL=http://github.com/take-yu/rack-ketai/
Icon=gnome-fs-bookmark
