[Desktop Entry]
Encoding=UTF-8
Name=Link to walf443's rack-jpmobile at master - GitHub
Type=Link
URL=http://github.com/walf443/rack-jpmobile/
Icon=gnome-fs-bookmark
